@import '~antd/dist/antd.css';

.site-layout-sider {
  height: 100vh;
}
.site-layout-logo {
  height: 32px;
  line-height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
  text-align: center;
  color: #fff;
}
.site-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.trigger {
  font-size: 18px;
}
.trigger:hover {
  color: #1890ff;
}
.site-layout-content {
  height: calc(100vh - 50px);
  padding: 20px;
  overflow-y: auto;
}
.site-breadcrumb {
  display: inline-block;
  margin-left: 24px;
}
