.btn2 {
  position: relative;
  min-width: 150px;
  height: 44px;
  padding: 0;
  color: #fff;
  background-color: #ffb140;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;
  transition: all 0.3s;
}
.btn2:hover {
  color: #ff7571;
  background-color: transparent;
}
.btn2:before,
.btn2:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  background: #ff7571;
  transition: all 0.3s ease;
}
.btn2::before {
  width: 2px;
  height: 0%;
}
.btn2::after {
  width: 0%;
  height: 2px;
}
.btn2:hover::before {
  height: 100%;
}
.btn2:hover::after {
  width: 100%;
}
.btn2 span {
  position: relative;
  display: block;
  width: 100%;
  line-height: 44px;
}
.btn2 span:before,
.btn2 span:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: #ff7571;
  transition: all 0.3s ease;
}
.btn2 span::before {
  width: 2px;
  height: 0%;
}
.btn2 span::after {
  width: 0%;
  height: 2px;
}
.btn2 span:hover::before {
  height: 100%;
}
.btn2 span:hover::after {
  width: 100%;
}
